<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

    <menuitem id="menu_sales_by_products_report" name="Sales by products report" parent="sale.menu_sale_report" action="action_sales_by_products_report" sequence="7"/>

    <menuitem id="menu_sales_by_customer_report" name="Sales by customer report" parent="sale.menu_sale_report" action="action_sales_by_customer_report" sequence="7"/>


    </data>
</odoo>